* {
  box-sizing: border-box;
}

#breadcrumb {
  margin-bottom: 32px;
}

.ihm-category-list {
  display: flex;
  flex-wrap: wrap;
}

.ihm-category {
  margin: 0;
  padding: 10px 38px 10px 16px;
  box-sizing: border-box;
  background-color: #f7f2e5;
  box-sizing: border-box;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  border: 1px solid #fff;
  vertical-align: middle;
  cursor: pointer;
}

.ihm-title {
  background: #333;
  color: white;
  padding: 10px 8px;
  text-align: center;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  min-height: 38px;
}

.ihm-title.ihm-title--centered {
  text-align: center;
  display: block;
}

.ihm-return-button {
  cursor: pointer;
}

.ihm-show-all-trigger {
  margin-top: 8px;
  display: block;
  width: 100%;
  text-align: right;
  cursor: pointer;
}